---
---

@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&family=Inconsolata:wght@400&display=swap');

$em: 22px;
$width: 32 * $em;

body {
  font-family: 'Inconsolata', monospace;
  font-size: $em;
  line-height: 1.3em;
  padding: 0;
}

h1 {
  font-family: 'Fira Code', monospace;
  margin-bottom: 1em;
}

header {
  text-align: center;
  width: 100%;
  padding: 0;
  .front {
    background-image: url('/images/winter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    p {
      padding: 4em;
      width: 1.4 * $width;
      margin: auto;
      font-family: 'Fira Code', monospace;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      color: firebrick;
      font-size: 2.5em;
      line-height: 1em;
      @media all and (max-width: 1024px) {
        font-size: 1.6em;
      }
      @media all and (max-width: 768px) {
        font-size: 1em;
        color: white;
        padding-left: 2em;
        padding-right: 2em;
      }
    }
  }
  ul {
    padding: 1em;
    max-width: 40em;
    margin: auto;
    @media all and (max-width: 1024px) {
      text-align: left;
    }
    li {
      margin: 0;
      @media all and (max-width: 1024px) {
        display: block;
      }
      @media all and (min-width: 1024px) {
        &:not(:last-child):after {
          content: '·';
        }
      }
    }
  }
}

footer {
  ul {
    padding: 0em;
    margin: auto;
  }
}

section {
  width: $width;
  padding: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  article {
    border: 0;
  }
  footer {
    text-align: center;
    font-size: 0.8em;
    color: gray;
  }
}

.logo {
  height: 92px;
  width: 92px;
}

h1 {
  margin-top: 4em;
  clear: both;
}

.pc {
  clear: both;
  min-height: 64px;
  img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    height: 64px;
    width: 64px;
    border: 1px solid gray;
  }
}

.partner {
  display: inline-block;
  width: 0.35 * $width;
  vertical-align: top;
  text-align: left;
  margin-right: 1em;
  img {
    display: block;
    margin: 0;
    margin-bottom: .5em;
    height: 40px;
  }
}

.org {
  display: inline-block;
  width: .2 * $width;
  vertical-align: top;
  img {
    display: block;
    margin: 0;
    height: 92px;
    width: 92px;
  }
}

.nonprofit {
  img {
    display: block;
    margin: 0;
    height: 92px;
  }
}
