---
---

@charset 'utf-8';
@import 'common';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400&display=swap');

$em: 22px;
$width: 32 * $em;

body {
  font-family: 'Inconsolata', monospace;
  font-size: $em;
  line-height: 1.3em;
  padding: 0;
}

h1 {
  font-family: 'Fira Code', monospace;
  margin-bottom: 1em;
  margin-top: 4em;
  clear: both;
}

h2 {
  font-family: 'Fira Code', monospace;
  margin-bottom: 1em;
  font-size: 1.6em;
  margin-top: 4em;
}

header {
  text-align: center;
  width: 100%;
  padding: 0;
  .front {
    background-image: url('/images/2021/moscow-winter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    p {
      padding: 4em;
      width: 1.4 * $width;
      margin: auto;
      font-family: 'Fira Code', monospace;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      color: firebrick;
      font-size: 2.5em;
      line-height: 1em;
      @media all and (max-width: 1024px) {
        font-size: 1.6em;
      }
      @media all and (max-width: 768px) {
        font-size: 1em;
        color: white;
        padding-left: 2em;
        padding-right: 2em;
      }
    }
  }
  ul {
    padding: 1em;
    max-width: 40em;
    margin: auto;
    @media all and (max-width: 1024px) {
      text-align: left;
    }
    li {
      margin: 0;
      @media all and (max-width: 1024px) {
        display: block;
      }
      @media all and (min-width: 1024px) {
        &:not(:last-child):after {
          content: '·';
        }
      }
    }
  }
}

footer {
  ul {
    padding: 0em;
    margin: auto;
  }
}

section {
  width: $width;
  padding: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  article {
    border: 0;
    p {
      @media all and (min-width: 1024px) {
        text-align: left;
        hyphens: auto;
      }
    }
  }
  footer {
    text-align: center;
    font-size: 0.8em;
    color: gray;
  }
}

.clear {
  clear: both;
}

.logo {
  height: 92px;
  width: 92px;
}

.sigplan {
  img {
    float: left;
    margin-right: 1em;
    height: 120px;
    border: 1px solid lightgray;
  }
}

.pc {
  clear: both;
  min-height: 64px;
  img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    height: 92px;
    width: 92px;
    border: 1px solid gray;
  }
}

.org {
  display: inline-block;
  width: .2 * $width;
  vertical-align: top;
  img {
    display: block;
    margin: 0;
    height: 92px;
    width: 92px;
  }
}

.nonprofit {
  img {
    display: inline-block;
    margin: 0;
    margin-right: 1em;
    height: 64px;
  }
}

.warning {
  border-left: 4px solid firebrick;
  padding-left: 1em;
  color: firebrick;
  a {
    color: firebrick;
    text-decoration: underline;
  }
}

.agenda {
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: lightgray;
  padding-left: 8px;
  margin-bottom: 2px;
  font-size: 0.8em;
  strong {
    display: block;
  }
  img[src$='#ical'] {
    height: 1em;
    vertical-align: middle;
  }
  img[src$='#youtube'] {
    height: 1em;
    vertical-align: middle;
  }
}

.agenda-welcome {
  border-left-color: salmon;
}

.agenda-regular {
  border-left-color: tomato;
}

.agenda-keynote {
  border-left-color: orange;
}

@for $i from 1 through 9 {
  .agenda-#{$i * 5} {
    height: 27px * $i;
  }
}

.accepted {
  strong {
    display: block;
  }
  img[src$='#youtube'] {
    height: 1em;
    vertical-align: middle;
  }
  img[src$='#pdf'] {
    height: 1em;
    vertical-align: middle;
  }
}

.abstract {
  font-family: 'PT Serif', serif;
  font-size: 0.8em;
  color: gray;
  line-height: 1.1em;
  margin-left: 2em;
  margin-top: -1em;
  &:before {
    content: '“';
  }
  &:after {
    content: '”';
  }
}

.proceedings {
  float: right;
  margin-left: 1em;
  text-align: center;
  font-size: 0.8em;
  img {
    width: 240px;
    display: block;
  }
}

ol,
ul {
  li {
    margin-left: 1em;
    p {
      margin-bottom: 3pt;
    }
  }
}

.break {
  height: 0px;
  color: white;
  margin-top: 5em;
}

.partner {
  display: inline-block;
  width: 0.35 * $width;
  vertical-align: top;
  text-align: left;
  margin-right: 1em;
  img {
    display: block;
    margin: 0;
    margin-bottom: .5em;
    width: 60px;
  }
  &.xl {
    img {
      width: 120px;
    }
  }
  &.xxl {
    img {
      width: 180px;
    }
  }
}
