---
---
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata,Fira+Code&display=swap');

body {
  font-family: 'Fira Code', 'Inconsolata', monospace;
  font-size: 18px;
  line-height: 1.3em;
  padding: 1em;
}

section {
  width: 32em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  header {
    text-align: center;
  }
  article {
    border: 0;
    .front {
      width: 100%;
    }
  }
  footer {
    text-align: center;
    font-size: 0.8em;
    color: gray;
  }
}

.logo {
  height: 92px;
  width: 92px;
}

h1 {
  margin-top: 4em;
  clear: both;
}

.pc {
  clear: both;
  min-height: 64px;
  img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    height: 64px;
    width: 64px;
    border: 1px solid gray;
  }
}

.partner {
  clear: both;
  min-height: 92px;
  img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    height: 92px;
    width: 92px;
  }
}
