# SPDX-FileCopyrightText: Copyright (c) 2020-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
colors.tex
consolas.ttf
!ekaterinburg.pdf
!kazan.pdf
!moscow.pdf
!novosibirsk.pdf
!st-petersburg.pdf
!students.pdf
