---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="description" content="In cooperation with IEEE Computer Society the event is focused on static analysis, program verification, bug detection, and software maintenance."/>
    <meta name="keywords" content="computer science, code quality, static analysis"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/logo-64.png"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops.min.css"/>
    <link href='/css/main.css?20' rel='stylesheet'/>
    {% if page.year %}
      <link href='/css/{{ page.year }}.css?20' rel='stylesheet'/>
    {% endif %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/twitter-card.jpg" />
    <meta name="twitter:site" content="{{ site.title }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ page.title | xml_escape }}" />
    <meta name="twitter:description" content="{{ page.description | xml_escape }}" />
    <meta property="og:image" content="{{ site.url }}/images/twitter-card.jpg" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="{{ page.title | xml_escape }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="{{ page.description | xml_escape }}" />
  </head>
  <body>
    {% if page.front %}
      <header>
        <div class="front" style="background-image: url('{{ page.front }}')">
          <p>
            {{ page.header }}
          </p>
        </div>
        <nav>
          <ul>
            {% for hash in page.breadcrumbs %}
              {% for b in hash %}
                <li>
                  <a href="{% if b[0] contains '/' %}{% else %}#{% endif %}{{ b[0] }}">{{ b[1] }}</a>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </nav>
        <!--
        <nav>
          <ul>
            <li>
              <a href="/index.html">2021</a>
            </li>
            <li>
              <a href="/2022.html">2022</a>
            </li>
          </ul>
        </nav>
        -->
      </header>
    {% endif %}
    <section>
      <article>
        {% unless page.front %}
          <p>
            <a href="/" title="Go back to the home page"><img src="/logo.svg" style="height: 4em;" alt="logo"/></a>
          </p>
        {% endunless %}
        {{ content }}
      </article>
      <footer>
        <nav>
          <ul>
            {% for hash in site.breadcrumbs %}
              {% for b in hash %}
                <li>
                  <a href="{% if b[0] contains '/' %}{% else %}#{% endif %}{{ b[0] }}">{{ b[1] }}</a>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </nav>
        <nav>
          <ul>
            <li>
              <a href="https://twitter.com/intent/follow?screen_name=iccq_ru">Twitter</a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UC_W-pjp6HWJGjK2sayFrnag">YouTube</a>
            </li>
            <li>
              <a href="https://t.me/joinchat/CLxAaRZ03vNRu3XW-IzqKw">Telegram</a>
            </li>
            <li>
              <a href="mailto:team@iccq.ru">Email us</a>
            </li>
          </ul>
          <ul>
            <li>
              &copy; ICCQ, 2020-2021
            </li>
          </ul>
        </nav>
      </footer>
    </section>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1963507-55"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-1963507-55');
    </script>
  </body>
</html>
