---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description | xml_escape }}"/>
    <meta name="keywords" content="computer science, code quality, static analysis"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/logo-64.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops.min.css"/>
    <link href='/css/main.css?8' rel='stylesheet'/>
    <meta name="twitter:image:src" content="https://repository-images.githubusercontent.com/257331843/a1472d80-8345-11ea-8317-345786f78163" />
    <meta name="twitter:site" content="{{ site.title }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ page.title | xml_escape }}" />
    <meta name="twitter:description" content="{{ page.description | xml_escape }}" />
    <meta property="og:image" content="https://repository-images.githubusercontent.com/257331843/a1472d80-8345-11ea-8317-345786f78163" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="{{ page.title | xml_escape }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="{{ page.description | xml_escape }}" />
  </head>
  <body>
    {% if page.front %}
      <header>
        <div class="front" style="background-image: url('{{ page.front }}')">
          <p>
            {{ page.header }}
          </p>
        </div>
        <ul>
          {% for hash in page.breadcrumbs %}
            {% for b in hash %}
              <li>
                <a href="#{{ b[0] }}">{{ b[1] }}</a>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      </header>
    {% endif %}
    <section>
      <article>
        {% unless page.front %}
          <p>
            <a href="/"><img src="/logo.svg" style="height: 4em;"/></a>
          </p>
        {% endunless %}
        {{ content }}
      </article>
      <footer>
        <p>
          &copy; ICCQ, 2020
        </p>
      </footer>
    </section>
  </body>
</html>
