---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description | xml_escape }}"/>
    <meta name="keywords" content="computer science, code quality, static analysis"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/logo-64.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops.min.css"/>
    <link href='/css/main.css?1' rel='stylesheet'/>
  </head>
  <body>
    <header>
      <div class="front" style="background-image: url('{{ page.front }}')">
        <p>
          {{ page.header }}
        </p>
      </div>
      <ul>
        {% for hash in page.breadcrumbs %}
          {% for b in hash %}
            <li>
              <a href="#{{ b[0] }}">{{ b[1] }}</a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </header>
    <section>
      <article>
        <p>
          {{ content }}
        </p>
      </article>
      <footer>
        <p>
          &copy; ICCQ, 2020
        </p>
      </footer>
    </section>
  </body>
</html>
